/* .container {
  display: flex;
  flex-direction: ro;
  justify-content: center;
  align-items: center;
} */

.content {
  width: 70%;
  align-items: center;
  margin-bottom: 3rem;
}

.contenttitle{
  text-align: left;
  font-weight: 800;
  margin-bottom: 2rem; margin-top: 1rem;
}

/* custom */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #f5f5dc;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003458; /* #0c4890 #00498c*/
  color: white;
  width: 100%;
  height: 500px;
}

.main {
  padding: .5rem;
  margin: .5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* End custom */

.footer {
  background: #ece6cc;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #505050;
}

.copyright {
  padding-top: 10px;
}

.footerItem {
  border-right: 1px solid #999999;
}

.footer a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: #00A553;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.maintitle {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  text-align: center;
}

.slogan {
  line-height: 3;
  font-size: 1.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.colcard {
  display: flex;
  max-width: fit-content;
  /* max-height: fit-content; */
  margin: 2rem; 
}

.cardlist{
  max-width: 450px;
  margin-top: 2rem;
}

/* custom */
.card {
  flex-direction: row;
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  max-height: fit-content;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cardimg {
  width: 10rem;
  height: fit-content;
  margin: .5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cookieAlert {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.videoStateChecker {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.lectureContainer hr {
  width: 100%;
}

.lecturePage {
  display: flex;
}

.lectureSidebar {
  width: 250px;
  background-color: #003458;
}

.lectureContent {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.lectureFooter {
  bottom: 0;
  left: 0;
}

.lectureCardContainer {
  margin: 20px;
}

.lectureCardsRow {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lectureCards {
  background: #ffffff;
  position: relative;
  flex: 1;
  max-width: 60%;
  height: max-content;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.lectureTitle {
  padding-top: 10px;
}

.lectureDate {
  color:#b1b1b1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
